<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <h2>test3.html</h2>
  개발자  <br>
  이름 : <span th:text="${developer.name}"> </span><br>
  나이 : <span th:text="${developer.age}"> </span><br>
  전공 : <span th:text="${developer.subject}"> </span><br>
  주소 : <span th:text="${developer.address}"> </span><hr>
  개발자 1 <br>
  이름 : <span th:text="${dev1.name}"> </span><br>
  나이 : <span th:text="${dev1.age}"> </span><br>
  전공 : <span th:text="${dev1.subject}"> </span><br>
  주소 : <span th:text="${dev1.address}"> </span><hr>
  개발자 2 <br>
  이름 : <span th:text="${dev2.name}"> </span><br>
  나이 : <span th:text="${dev2.age}"> </span><br>
  전공 : <span th:text="${dev2.subject}"> </span><br>
  주소 : <span th:text="${dev2.address}"> </span><hr>
  개발자 3 <br>
  이름 : <span th:text="${dev3.name}"> </span><br>
  나이 : <span th:text="${dev3.age}"> </span><br>
  전공 : <span th:text="${dev3.subject}"> </span><br>
  주소 : <span th:text="${dev3.address}"> </span><hr>
  개발자 4 <br>
  이름 : <span th:text="${dev4.name}"> </span><br>
  나이 : <span th:text="${dev4.age}"> </span><br>
  전공 : <span th:text="${dev4.subject}"> </span><br>
  주소 : <span th:text="${dev4.address}"> </span><hr>
  
  <button onclick="location.href='/'">홈으로</button>
</body>
</html>